<div class="form container">
    <h2>Creación de Tickets</h2>
    <br>
<form>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Técnico encargado</label>
      <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="technical" name="technical" >
        <option value="1"><strong> Asignar más tarde</strong></option>
        <option *ngFor="let technical of technicals"  value="{{technical._id}}">{{technical.name}} {{technical.lastName}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Servicios</label>
      <br>
      <div class="form-check form-check-inline">
          <!-- <input class="form-check-input" type="checkbox" id="{{service._id}}" value="{{service._id}}">
          <label class="form-check-label" for="{{service._id}}">{{service.name}}</label> -->
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Servicio</th>
                <th scope="col">UF</th>
                <th scope="col">Valor CLP</th>
                <th scope="col">Tipo servicio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let service of services">
                <!-- <td scope="row"><input class="form-check-input" type="checkbox" id="{{service._id}}" value="{{service._id}}"></td> -->
                <td scope="row"><input class="form-check-input" type="checkbox" [value]="service._id" (change)="onCheckChange($event)"></td>
                <td>{{service.name}}</td>
                <td>{{service.UF}}</td>
                <td>${{valueCLPTotal(service.UF)}}</td>
                <td>{{service.serviceType.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>  
      <button type="button" class="btn btn-dark" (click)="clickSave()">Guardar</button>
  </form>
</div>